@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    background-color: hsl(200, 52%, 94%);
    font-family: Roboto, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 64px  64px 0  64px;
}

.hide_text{
    height: auto;
    margin: 16px 0;
    inline-size: 75%;
    overflow-wrap: break-word;
    font-size: 4px;
    font-weight: 100;
}

.result {
    font-size: 48px;
    color: lightseagreen;
    padding: 16px;
    border: 2px solid red;
    border-radius: 50px;
}

.message {
    margin: 16px;
    font-size: 36px;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 32px  64px 0  64px;
}

.description span{
    font-size: 36px;
}

.description ol li{
    font-size: 16px;
    margin: 16px 0;
    
}

